/* color scheme
#986C6A rose taupe
#254E70 indigo dye
#F4EBD9 eggshell
#474B24 dark moss green
#769FB6 air superiority blue */

body {
    background-color: #769FB6;
    color:#474B24;
    align-items: center;

}